@model IEnumerable<Tomás.Modelos.GruposCuantos>


<h3>Alumnos por curso</h3>
<table class="table table-bordered">
	<thead class="thead-light">
		<tr>
			<th>Curso</th>
			<th>Nº Alumnos</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var grupo in Model)
		{
			<tr>
				<td>@grupo.Grupo</td>
				<td>@grupo.Selecciones</td>
			</tr>
		}
	</tbody>
</table>
@{
}
